browsergym/workarena/data_files
src/agentlab/autogen_policy/offline/human_annotation/annotations/*
src/agentlab/autogen_policy/offline/random_exploration/experiences/*
src/agentlab/autogen_policy/offline/random_exploration/explorations/*